<main class="">
  <.flash_group flash={@flash} />
  <div class="lg:grid lg:grid-cols-2">
    <div class="hidden lg:block">
      <img class="w-full h-[100vh]" src="/images/desktop-cover.png" alt="" />
    </div>
    <div class="w-full h-screen overflow-auto text-center">
      <%= @inner_content %>
    </div>
  </div>
</main>
