/../_build/
/../.elixir_ls/
/../.git/
/../config/
/../cover/
/../deps/
/../doc/
/../lib/
/../priv/
/../rel/
/../test/
/../.credo.exs
/../.dialyzer_ignore.exs
/../.dockerignore
/../.env
/../.env.prod.sample
/../.env.sample
/../.formatter.exs
/../.gitignore
/../.iex.exs
/../.erl_crash.dump
/vendor/topbar.js